*{
    box-sizing: border-box;
    margin: 0;
}

.grid{
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #000;
}

.grid div {
    width: 10%;
    height: 10%;
    box-sizing: border-box;
}