*{
    box-sizing: border-box;
    margin: 0;
}



body{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   padding: 20px;
   background-color: #9EEB47;
}

.grid{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    gap: 0;
     border: 1px solid black; 
   background-color: #9EEB47;
    }
    
    .container{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    
    .grid div {
        width: 10%;
        height: 10%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
}


.snake{
    background-color: black;
}

.apple{
    background-color: red;
}

button{
    
    font-size: 17px;
    cursor: pointer;
}

h1{
    display: flex;

}