*{
    box-sizing: border-box;
    margin: 0;
}

.grid{
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #000;
    background-color: green;
}

.grid div {
    width: 10%;
    height: 10%;
    border: none;
    box-sizing: border-box;
    color: transparent;
}


.snake{
    background-color: black;
}

.apple{
    background-color: red;
}


